html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html * {
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFF;
  line-height: 1.2;
  font-weight: 700; }
  @media only screen and (min-width: 980px) {
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4.8rem; } }

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  line-height: 1.2;
  font-weight: 700; }
  @media only screen and (min-width: 980px) {
    h2 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 3.6rem; } }

h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #999;
  line-height: 1.44;
  font-weight: 700;
  letter-spacing: 0.2px; }
  @media only screen and (min-width: 980px) {
    h4 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.8rem; } }

h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #999;
  line-height: 1.3;
  font-weight: 700; }
  @media only screen and (min-width: 980px) {
    h5 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.4rem; } }

p {
  font-family: "Josefin Sans", sans-serif;
  color: #666;
  line-height: 1.36;
  font-weight: 700;
  letter-spacing: 1px; }
  @media only screen and (min-width: 980px) {
    p {
      font-family: "Josefin Sans", sans-serif;
      font-size: 2.2rem; } }

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #72C3F8; }

a:hover {
  color: #F5A623; }

.button a {
  font-family: "Josefin Sans", sans-serif;
  color: #FFF;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle; }
  @media only screen and (min-width: 980px) {
    .button a {
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.2rem; } }

#header-links a {
  color: #999;
  letter-spacing: 1px;
  line-height: 1.2; }
  @media only screen and (min-width: 980px) {
    #header-links a {
      font-size: 1.6rem; } }

#header-links a:hover {
  color: #FFF; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 82px;
  position: fixed;
  top: 0px;
  background: #222; }
  header #logo {
    width: 260px;
    height: 82px;
    background-image: url("img/logo.png");
    float: left; }
  header #header-links a {
    float: right;
    margin-right: 50px;
    margin-top: 36px; }

.container {
  width: 960px;
  margin: auto; }

.button {
  width: 174px;
  height: 44px;
  border-radius: 22px;
  background-color: #444;
  transition: all 0.3s; }
  .button a {
    display: inline-block;
    width: 174px;
    padding-top: 18px;
    margin: auto; }

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #222; }

#welcome-section {
  height: 800px;
  background-color: #222; }
  #welcome-section h1 {
    margin: auto;
    padding-top: 160px;
    text-align: center; }
  #welcome-section p {
    text-align: center;
    margin: auto;
    width: 480px;
    padding-top: 16px;
    color: #CCC; }
  #welcome-section #welcome-buttons {
    margin: auto;
    padding-top: 60px;
    width: 340px; }
    #welcome-section #welcome-buttons .button {
      margin-left: 20px;
      float: left; }
    #welcome-section #welcome-buttons :first-child {
      margin-left: 0; }
    #welcome-section #welcome-buttons #welcome-download-button {
      width: 146px;
      background-color: #72C3F8; }
      #welcome-section #welcome-buttons #welcome-download-button a {
        width: 146px; }
  #welcome-section #tutorial-video {
    width: 480px;
    margin: auto;
    padding-top: 90px; }

#states-section {
  height: 740px; }
  #states-section .states-column {
    height: 280px;
    padding: 0;
    margin: 0;
    float: left; }
  #states-section #states-column-one {
    width: 490px; }
    #states-section #states-column-one h2 {
      padding-top: 100px; }
    #states-section #states-column-one p {
      padding-top: 12px; }
  #states-section #states-column-two {
    width: 296px; }
  #states-section #states-column-three {
    width: 174px; }
    #states-section #states-column-three .button {
      margin-top: 107px; }
    #states-section #states-column-three h5 {
      padding-top: 14px;
      display: inline-block;
      text-align: center;
      width: 150px;
      padding-left: 12px; }
  #states-section #states-image {
    clear: both;
    background-image: url("img/statesbg.png");
    background-repeat: no-repeat;
    height: 460px;
    width: calc(100% - 50% + 480px);
    margin-left: calc(50% - 480px); }

#keynote-section {
  height: 680px; }
  #keynote-section h2 {
    padding-top: 70px;
    text-align: center;
    margin: auto; }
  #keynote-section p {
    width: 540px;
    text-align: center;
    margin: auto;
    padding-top: 12px; }
  #keynote-section .container #keynote-image {
    width: 960px;
    height: 460px;
    background-image: url("img/keynotebg.png");
    background-repeat: no-repeat; }

#scale-section {
  height: 300px; }
  #scale-section .states-column {
    height: 300px;
    float: left; }
  #scale-section #states-column-one {
    width: 540px; }
    #scale-section #states-column-one h2 {
      padding-top: 94px; }
    #scale-section #states-column-one p {
      padding-top: 12px; }
  #scale-section #states-column-two {
    width: 246px; }
  #scale-section #states-column-three {
    width: 174px; }
    #scale-section #states-column-three .button {
      margin-top: 100px; }
    #scale-section #states-column-three h5 {
      padding-top: 14px;
      display: inline-block;
      text-align: center;
      width: 150px;
      padding-left: 12px; }

#goodbuy-section {
  height: 400px;
  background-color: #222; }
  #goodbuy-section h1 {
    padding-top: 80px;
    text-align: center;
    margin: auto; }
  #goodbuy-section p {
    padding-top: 8px;
    text-align: center;
    margin: auto;
    width: 540px;
    color: #CCC; }
  #goodbuy-section .button {
    background-color: #72C3F8;
    margin: auto;
    margin-top: 40px; }
  #goodbuy-section #goodbuy-buttons {
    margin: auto;
    width: 340px; }
    #goodbuy-section #goodbuy-buttons .button {
      margin-left: 20px;
      float: left;
      background-color: #444; }
    #goodbuy-section #goodbuy-buttons :first-child {
      margin-left: 0; }
    #goodbuy-section #goodbuy-buttons #goodbuy-download-button {
      width: 146px;
      background-color: #72C3F8; }
      #goodbuy-section #goodbuy-buttons #goodbuy-download-button a {
        width: 146px; }

#read-section {
  height: 220px;
  background-color: #EEE; }
  #read-section .states-column {
    height: 220px;
    float: left;
    box-shadow: inset 0px -1px 0px 0px #CCC; }
  #read-section #states-column-one {
    width: 490px; }
    #read-section #states-column-one h2 {
      padding-top: 50px;
      color: #444; }
    #read-section #states-column-one p {
      padding-top: 16px; }
  #read-section #states-column-two {
    width: 296px; }
  #read-section #states-column-three {
    width: 174px; }
    #read-section #states-column-three .button {
      margin-top: 65px; }

footer {
  height: 340px;
  background-color: #EEE; }
  footer h4 {
    padding-top: 40px;
    width: 460px;
    text-align: center;
    margin: auto;
    color: #222; }
  footer h4:first-child {
    padding-top: 60px;
    color: #999; }
  footer p {
    padding-top: 3px;
    width: 460px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    line-height: 19px; }
  footer #social-links {
    padding-top: 64px;
    width: 220px;
    margin: auto; }
    footer #social-links a {
      font-size: 14px;
      padding-left: 22px; }
    footer #social-links a:first-child {
      padding-left: 10px; }
