html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! HiDPI v2.0.1 | MIT License | git.io/hidpi */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFF;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.8rem; }
  @media only screen and (min-width: 720px) {
    h1 {
      font-size: 4.8rem; } }

h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #999;
  text-align: center;
  line-height: 1.44;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 1.4rem; }
  @media only screen and (min-width: 960px) {
    h4 {
      font-size: 1.8rem; } }

h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #66430B;
  line-height: 1.3;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  text-align: center; }

p {
  font-family: "Josefin Sans", sans-serif;
  color: #444;
  line-height: 1.44;
  font-weight: 700;
  letter-spacing: 0.4px;
  font-size: 1.6rem; }
  @media only screen and (min-width: 720px) {
    p {
      font-family: "Josefin Sans", sans-serif;
      font-size: 2.2rem;
      max-width: 100%;
      letter-spacing: 1px; } }

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #72C3F8; }

a:hover {
  color: #F5A623; }

.button a {
  font-family: "Josefin Sans", sans-serif;
  color: #FFF;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  background: #222;
  position: fixed;
  height: 116px;
  box-shadow: inset 0px -1px 0px 0px #000; }
  @media only screen and (min-width: 720px) {
    header {
      height: 82px; } }
  header #logo {
    width: 260px;
    height: 82px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    margin: auto; }
    @media only screen and (min-width: 720px) {
      header #logo {
        float: left;
        margin-left: 0; } }
    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
      header #logo {
        background-image: url("img/logo@2x.png");
        background-size: 260px 82px; } }
  header #header-links {
    width: 260px;
    margin: auto; }
    @media only screen and (min-width: 720px) {
      header #header-links {
        width: 100%; } }
  header #header-links a {
    color: #999;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 1.6rem;
    margin-left: 20px; }
    @media only screen and (min-width: 720px) {
      header #header-links a {
        float: right;
        margin-right: 50px;
        margin-top: 36px;
        margin-left: 0; } }
  header #header-links a:hover {
    color: #FFF; }
  header #header-links a:first-child {
    color: #F5A623;
    margin-right: 0;
    margin-left: 0; }
  header #header-links a:first-child:hover {
    color: #FCC66C; }

.container {
  margin: auto;
  width: 90%; }
  @media only screen and (min-width: 960px) {
    .container {
      width: 960px; } }

.base-section h1 {
  margin: auto;
  max-width: 300px; }
  @media only screen and (min-width: 720px) {
    .base-section h1 {
      max-width: 470px; } }
  @media only screen and (min-width: 960px) {
    .base-section h1 {
      max-width: 100%; } }
.base-section p {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 300px;
  padding-bottom: 30px; }
  @media only screen and (min-width: 720px) {
    .base-section p {
      max-width: 470px;
      padding-bottom: 50px; } }
  @media only screen and (min-width: 960px) {
    .base-section p {
      width: 580px;
      max-width: 100%;
      padding-top: 6px; } }
.base-section .button {
  width: 300px;
  height: 44px;
  border-radius: 22px;
  background-color: #222;
  transition: all 0.3s;
  margin: auto;
  margin-top: 20px; }
  @media only screen and (min-width: 960px) {
    .base-section .button {
      margin-top: 30px; } }
  .base-section .button a {
    display: inline-block;
    width: 300px;
    padding-top: 18px;
    margin: auto;
    letter-spacing: 2px; }
.base-section .button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  background-color: #444; }
.base-section h5 {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: auto; }
  @media only screen and (min-width: 960px) {
    .base-section h5 {
      padding-bottom: 40px; } }

#welcome-section {
  background-color: #F5A623; }
  #welcome-section h1 {
    padding-top: 140px; }
    @media only screen and (min-width: 720px) {
      #welcome-section h1 {
        padding-top: 130px; } }
  #welcome-section p {
    color: #FFF; }
  #welcome-section #tutorial-video {
    width: 80%;
    max-width: 100%;
    height: 240px;
    margin-left: 10%; }
    @media only screen and (min-width: 720px) {
      #welcome-section #tutorial-video {
        width: 580px;
        height: 363px;
        max-width: 580px;
        margin-left: calc((100% - 580px) / 2);
        margin-top: -20px; } }
  #welcome-section #tutorial-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#main-section h1 {
  color: #000;
  padding-top: 40px; }
  @media only screen and (min-width: 960px) {
    #main-section h1 {
      padding-top: 70px; } }
#main-section .block {
  width: 100%; }
#main-section img {
  width: calc(100% - 20px);
  max-width: 100%;
  height: auto;
  margin-left: 10px;
  margin-top: -20px; }
  @media only screen and (min-width: 960px) {
    #main-section img {
      max-width: 1183px;
      margin-left: calc((100% - 1183px) / 2); } }

#tutorial-section h1 {
  color: #000;
  padding-top: 60px; }
  @media only screen and (min-width: 960px) {
    #tutorial-section h1 {
      padding-top: 80px; } }

#goodbuy-section {
  background-color: #222; }
  #goodbuy-section h1 {
    padding-top: 30px; }
    @media only screen and (min-width: 960px) {
      #goodbuy-section h1 {
        padding-top: 50px; } }
  #goodbuy-section p {
    color: #CCC; }
  #goodbuy-section .button {
    margin-top: 0;
    background-color: #F5A623; }
    @media only screen and (min-width: 960px) {
      #goodbuy-section .button {
        margin-top: -20px; } }
  #goodbuy-section .button:hover {
    background-color: #CC891B; }
  #goodbuy-section h5 {
    color: #999; }

footer {
  background-color: #EEE; }
  @media only screen and (min-width: 960px) {
    footer {
      height: 340px; } }
  footer .mobile-container {
    margin: auto;
    width: 90%; }
    @media only screen and (min-width: 960px) {
      footer .mobile-container {
        width: 100%; } }
  footer h4 {
    text-align: center;
    margin: auto;
    color: #222;
    padding-top: 60px;
    max-width: 460px; }
    @media only screen and (min-width: 960px) {
      footer h4 {
        padding-top: 100px;
        width: 460px;
        max-width: 100%; } }
  footer h4:first-child {
    color: #999;
    padding-top: 40px; }
  footer #name {
    font-size: 1.6rem; }
  footer p {
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    line-height: 19px; }
    @media only screen and (min-width: 960px) {
      footer p {
        padding-top: 3px;
        width: 460px; } }
  footer #share-buttons {
    width: 200px;
    margin: auto;
    padding-top: 16px; }
    footer #share-buttons #twitter-button {
      float: left; }
    footer #share-buttons #facebook-button {
      float: left;
      padding-left: 8px; }
    footer #share-buttons #paypal-button {
      float: left;
      padding-left: 8px; }
  footer #social-links {
    margin: auto;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 960px) {
      footer #social-links {
        padding-top: 30px;
        padding-bottom: 0; } }
    footer #social-links a {
      font-size: 14px;
      padding-left: 22px; }
    footer #social-links a:first-child {
      padding-left: 10px; }
