@import '../partials/reset';
@import '../partials/mixins';
@import '../partials/layout';
@import '../partials/variables';


html {
	font-size: 62.5%;
}

body {
	margin:0;
	padding:0;
}



header {
    width:100%;
	background: $color-dark;
	position:fixed;
	height:116px;
	box-shadow: inset 0px -1px 0px 0px $color-black;
	
	@include MQ(M) {
		height:82px;
	}
	
	
	#logo {
		width: 260px;
		height: 82px;
		background-image: url('img/logo.png');
		background-repeat: no-repeat;
		margin: auto;
		
		@include MQ(M) {
			float: left;
			margin-left: 0;
		}
		
		@include hidpi {
	  		background-image: url('img/logo@2x.png');
	  		background-size: 260px 82px;
		  }
	  		
	  }
		
	#header-links {
		width: 260px;
		margin: auto;
		
		@include MQ(M) {
			width: 100%;
		}
	}

	#header-links a {
		color: $color-grey;
		letter-spacing: 1px;
		line-height: 1.2;
		font-size: 1.6rem;
		margin-left: 20px;
		
		@include MQ(M) {
			float: right;
			margin-right: 50px;
			margin-top: 36px;
			margin-left: 0;
		}
	}

	#header-links a:hover {
		color: $color-white;
	}

	
	#header-links a:first-child {
		color: $color-orange;
		margin-right: 0;
		margin-left: 0;
	}
	#header-links a:first-child:hover {
		color: #FCC66C;
	}

}

.container {
	margin: auto;
	width: 90%;
	
	@include MQ(L) {
		width: 960px;
	}
}






.base-section {
	
	h1 {
		margin: auto;
		max-width: 300px;
		
		@include MQ(M) {
			max-width: 470px;
		}
		@include MQ(L) {
			max-width: 100%;
		}
	}
	
	
	p {
		margin: auto;
		text-align: center;
		width: 100%;
		max-width: 300px;
		padding-bottom: 30px;
		
		
		@include MQ(M) {
			max-width: 470px;
			padding-bottom: 50px;
		}
		@include MQ(L) {
			width: 580px;
			max-width: 100%;
			padding-top: 6px;
		}
	}

	
	.button {
		width: 300px;
		height: 44px;
		border-radius: 22px;
		background-color: $color-dark;
		transition: all 0.3s;
		margin: auto;
		margin-top: 20px;
	
		@include MQ(L) {
			margin-top: 30px;
		}

		a {
			display: inline-block;
			width: 300px;
			padding-top: 18px;
			margin: auto;
			letter-spacing: 2px;
		}
	}

	.button:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
		background-color: $color-semi-dark;
	}
	
	
	h5 {
		padding-top: 10px;
		padding-bottom: 30px;
		margin: auto;
		
		@include MQ(L) {
			padding-bottom: 40px;
		}
	}
	
}


#welcome-section {
	background-color: $color-orange;
	
	h1 {
		padding-top: 140px;
		
		@include MQ(M) {
			padding-top: 130px;
		}
	}
	
	p {
		color: $color-white;
	}

	#tutorial-video {
		width: 80%;
		max-width: 100%;
		height: 240px;
		margin-left: 10%;
		
		@include MQ(M) {
			width: 580px;
			height: 363px;
			max-width: 580px;
			margin-left: calc((100% - 580px) / 2);
			margin-top: -20px;
		}
	}

	#tutorial-video iframe {
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
}




#main-section {	
	
	h1 {
		color: $color-black;
		padding-top: 40px;

		@include MQ(L) {
			padding-top: 70px;
		}
	}
	
	
	.block {
		width: 100%;
	}

	img {
		width: calc(100% - 20px);
		max-width: 100%;
		height: auto;
		margin-left: 10px;
		margin-top: -20px;
	
		@include MQ(L) {
			max-width: 1183px;
			margin-left: calc((100% - 1183px) / 2);
		}
	}
}




#tutorial-section {
	
	h1 {
		color: $color-black;
		padding-top: 60px;
		
		@include MQ(L) {
			padding-top: 80px;
		}
	}
	

}





#goodbuy-section {
	background-color: $color-dark;
	
	h1 {
		padding-top: 30px;
				
		@include MQ(L) {
			padding-top: 50px;
		}

	}
	
	p {
		color: $color-semi-grey;
	}
	
	
	.button {
		margin-top: 0;
		background-color: $color-orange;
		
		@include MQ(L) {
			margin-top: -20px;
		}
	}
	
	.button:hover {
		background-color: #CC891B;
	}
	
	
	h5 {
		color: $color-grey;
	}
	
}




footer {
	background-color: $color-pre-white;
	
	@include MQ(L) {
		height: 340px;
	}
	
	.mobile-container {
		margin: auto;
		width: 90%;
		
		@include MQ(L) {
			width: 100%;
		}
	}
	
	h4 {
		text-align: center;
		margin: auto;
		color: $color-dark;
		padding-top: 60px;
		max-width: 460px;
		
		@include MQ(L) {
			padding-top: 100px;
			width: 460px;
			max-width: 100%;
		}
	}
	
	h4:first-child {
		color: $color-grey;
		padding-top: 40px;
		
	}
	
	#name {
		font-size: 1.6rem;	
	}
	
	p {
		text-align: center;
		margin: auto;
		font-size: 16px;
		color: $color-grey;
		letter-spacing: 1px;
		line-height: 19px;
		
		@include MQ(L) {
			padding-top: 3px;
			width: 460px;
		}
		
	}
	
	
	#share-buttons {
		width: 200px;
		margin: auto;
		padding-top: 16px;
		
		#twitter-button {
			float: left;
			
		}
		
		#facebook-button {
			float: left;
			padding-left: 8px;
			
		}
		
		#paypal-button {
			float: left;
			padding-left: 8px;
		}
		
	}
	
	
	#social-links {
		margin: auto;
		width: 220px;
		padding-top: 20px;
		padding-bottom: 20px;
		
		@include MQ(L) {
			padding-top: 30px;
			padding-bottom: 0;
		}
		
		a {
			font-size: 14px;
			padding-left: 22px;
		}
		
		a:first-child {
			padding-left: 10px;
		}
	}
}