@import '../partials/reset';
@import '../partials/mixins';
@import '../partials/layout';
@import '../partials/variables';


html {
	font-size: 62.5%;
}

body {
	margin:0;
	padding:0;
}


#icon-logo {
	width: 200px;
	height: 200px;
	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	
	
	background-image: url('img/icon logo.png');
	background-repeat: no-repeat;

	@include hidpi {
  		background-image: url('img/icon logo@2x.png');
  		background-size: 200px 200px;
	}
}



header {
    width:100%;
	
	@include MQ(M) {
		height:92px;
	}
	
	
	//#logo {
//		width: 260px;
//		height: 82px;
//		background-image: url('img/logo.png');
//		background-repeat: no-repeat;
//		cursor: pointer;
//
//		@include MQ(M) {
//			float: left;
//			margin-left: 28px;
//		}
//
//		@include hidpi {
//	  		background-image: url('img/logo@2x.png');
//	  		background-size: 260px 82px;
//		}
//
//	  }
		
	#header-links {
		width: 260px;
		margin: auto;
		
		@include MQ(M) {
			width: 100%;
		}
	}

	#header-links a {
		opacity: 0.5;
		margin-left: 40px;
		color: $color-black;
		opacity: 0.5;
		
		@include MQ(M) {
			float: right;
			margin-right: 32px;
			margin-top: 36px;
			margin-left: 0;
		}
	}

	#header-links a:hover {
		color: $color-black;
		opacity: 0.8;
	}

	
	#header-links a:first-child {
		margin-right: 50px;
		margin-left: 0;
	}
	
	#header-links a:first-child:hover {
		
	}

}

.container {
	margin: auto;
	width: 90%;
	
	@include MQ(L) {
		width: 960px;
	}
}


.column-3 {
	width: 300px;
	height: 200px;
	float: left;
	margin-left: 30px;
}

.first-child {
	margin-left: 0;
}


//
//.base-section {
//
//	h1 {
//		margin: auto;
//		max-width: 300px;
//
//		@include MQ(M) {
//			max-width: 470px;
//		}
//		@include MQ(L) {
//			max-width: 100%;
//		}
//	}
//
//
//	p {
//		margin: auto;
//		text-align: center;
//		width: 100%;
//		max-width: 300px;
//		padding-bottom: 30px;
//		padding-top: 2px;
//
//
//		@include MQ(M) {
//			max-width: 470px;
//			padding-bottom: 50px;
//		}
//		@include MQ(L) {
//			width: 580px;
//			max-width: 100%;
//			padding-top: 6px;
//		}
//	}
//
//
//	.button {
//		width: 300px;
//		height: 44px;
//		border-radius: 22px;
//		background-color: $color-dark;
//		transition: all 0.3s;
//		margin: auto;
//		margin-top: 20px;
//
//		@include MQ(L) {
//			margin-top: 30px;
//		}
//
//		a {
//			display: inline-block;
//			width: 300px;
//			padding-top: 18px;
//			margin: auto;
//			letter-spacing: 2px;
//		}
//	}
//
//	.button:hover {
//		box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
//		background-color: $color-semi-dark;
//	}
//
//
//	h5 {
//		padding-top: 10px;
//		padding-bottom: 30px;
//		margin: auto;
//
//		@include MQ(L) {
//			padding-bottom: 40px;
//		}
//	}
//
//}

.play-video-icon {
	margin: auto;
	width: 90px;
	height: 90px;
	background-image: url('img/play video.png');
	background-repeat: no-repeat;
	
	@include hidpi {
  		background-image: url('img/play video@2x.png');
  		background-size: 90px 90px;
	}
}

.play-video-icon:hover {
	opacity: 0.8;
}


.video-block {
	width: 300px;
	height: 200px;
	
	background-image: url('img/demo video image.png');
	background-repeat: no-repeat;
	
	@include hidpi {
  		background-image: url('img/demo video image@2x.png');
  		background-size: 300px 200px;
	}
	
	
	.play-video-icon {
		position: relative;
		top: 54px;
	}
	
	//h3 {
//		color: $color-white;
//		margin: auto;
//		text-align: center;
//		position: relative;
//		top: 116px;
//	}
}

.video-block:hover {
	cursor: pointer;
}





.button {
//	height: calc(52px-16px);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	background: yellow;
	border-radius: 8px;
	float: left;
	border: 1px solid rgba(0,0,0,0.4);
	margin-left: 20px;
	
	//box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.24);
}







#welcome-section {
//	background-image: linear-gradient(-180deg, #5FE2FE 0%, #2DBFFF 100%);
//	box-shadow: inset 0px -1px 0px 0px #3496B1;
//	padding-bottom: 48px;
	background: #EBEBEB;
	padding-bottom: 100px;
	
	h1 {
		text-align: center;
		opacity: 0.5;
		
		@include MQ(M) {
		}
	}
	
	.plugin-title {
//		background: green;
		opacity: 1;
		
		@include MQ(M) {
			padding-top: 114px;
		}
	}
	
	
	.welcome-buttons {
		display: block;
		margin: auto;
//		background: blue;
//		height: 10px;
		width: 312px;
		margin-top: 32px;
//		margin-bottom: 48px;

//		box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.24);

		.welcome-button-download {
			background-image: linear-gradient(-180deg, #5FE2FE 0%, #2DBFFF 100%);
			border: 1px solid #0091C9;
			border-radius: 5px;
			box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.24);
		}
		
		.welcome-button-share {
			background-image: linear-gradient(-180deg, #B2B2B2 0%, #878787 100%);
			border: 1px solid #6F6F6F;
			border-radius: 5px;
			box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.24);
		}
		
		p {
			text-align: center;
			color: white;
		}
	}
	
	
	.welcome-video {
		width: 960px;
		height: 288px;
		margin: auto;
//		background: red;
//		clip: ;
		
		.video-block {
			width: 460px;
			height: 288px;
			margin: auto;
			margin-top: 140px;

			background-image: url('img/welcome video.png');
			background-repeat: no-repeat;

			@include hidpi {
		  		background-image: url('img/welcome video@2x.png');
		  		background-size: 460px 288px;
			}

			.play-video-icon {
				top: 80px;
			}
		
			h3 {
				color: $color-white;
				margin: auto;
				text-align: center;
				position: relative;
				top: 124px;
			}
		}
		
		.welcome-plugin {
			height: 0;
			position: relative;
			top: -288px;
			left: 600px;
//			float: right;
//			z-index: 10;
			
			width: 320px;
			height: 200px;

			background-image: url('img/welcome plugin.png');
			background-repeat: no-repeat;

			@include hidpi {
		  		background-image: url('img/welcome plugin@2x.png');
		  		background-size: 320px 200px;
			}
		}
	}
	
	
	
}


.import-states-section {
	background: #181818;
	padding-bottom: 120px;
	
	.import-states-left {
		width: 460px;
		float: left;
		
		h1 {
			margin-top: 100px;
			color: white;
		}
		
		h3 {
			margin-top: 10px;
			color: white;
			opacity: 0.6;
		}
		
		
		.import-states-buttons {
			display: block;
//			margin: auto;
			width: 330px;
			margin-top: 32px;
				
			.import-states-button-watch {
				background: rgba(255,255,255,0.10);
				border: 1px solid rgba(255,255,255,0.20);
				border-radius: 5px;
			}
			.import-states-button-read {
				background: none;
				border: 1px solid rgba(255,255,255,0.20);
				border-radius: 5px;
			}
		
			p {
				text-align: center;
				color: white;
			}
			
			div:first-child {
				margin-left: 0;
			}
		}
		
		.video-block {
			margin-top: 144px;
			
			background-image: url('img/import states video.png');
			background-repeat: no-repeat;

			@include hidpi {
		  		background-image: url('img/import states video@2x.png');
		  		background-size: 300px 200px;
			}
		}
	
	}
	
	.import-states-right {
//		background: red;
		width: 460px;
		height: 560px;
		float: right;
		margin-top: 100px;
		margin-bottom: 120px;
		
		background-image: url('img/import states.png');
		background-repeat: no-repeat;

		@include hidpi {
	  		background-image: url('img/import states@2x.png');
	  		background-size: 460px 560px;
		}
	}
	
	.import-states-features {
		clear: both;
//		background: green;
		height: 300px;
//		margin-bottom: 200px;
		
		.column-3 {
			
			p {
				color: white;
			}
			
			p:first-child {
				
			}
			
			p:nth-child(2) {
				opacity: 0.4;
				padding-top: 6px;
			}
			
			div {
				width: 300px;
				height: 200px;
				background: black;
				margin-top: 20px;
//				margin-bottom: 200px;
			}
			
			
			.import-states-feature-1 {
				background-image: url('img/import states feature 1.png');

				@include hidpi {
			  		background-image: url('img/import states feature 1@2x.png');
				}
			}
			
			.import-states-feature-2 {
				background-image: url('img/import states feature 2.png');

				@include hidpi {
			  		background-image: url('img/import states feature 2@2x.png');
				}
			}
			
			.import-states-feature-3 {
				background-image: url('img/import states feature 3.png');

				@include hidpi {
			  		background-image: url('img/import states feature 3@2x.png');
				}
			}
		}
		
		.column-3:nth-child(2) {
			p:nth-child(2) {
				width: 280px;
			}
		}
		
		
	}
}


.export-prototype-section {
	padding-bottom: 140px;
	
	.export-prototype-left {
		float: left;
		width: 620px;
		
		h1 {
			margin-top: 100px;
		}
		
		h3 {
			margin-top: 10px;
			color: $color-pre-grey;
		}
		
		.export-prototype-buttons {
			margin-top: 32px;
			
			.export-prototype-button-watch {
				background: rgba(0,0,0,0.02);
				border: 1px solid rgba(0,0,0,0.20);
				border-radius: 5px;
			}
			
			.export-prototype-button-read {
				background: none;
				border: 1px solid rgba(0,0,0,0.20);
				border-radius: 5px;
			}
		
			div:first-child {
				margin-left: 0;
			}
		}
	}
	
	.export-prototype-right {
		float: right;
		width: 300px;
		margin-top: 100px;
		
		.video-block {
			background-image: url('img/export prototype video.png');
			background-repeat: no-repeat;

			@include hidpi {
		  		background-image: url('img/export prototype video@2x.png');
		  		background-size: 300px 200px;
			}
		}
	}
	
	.export-prototype-how {
//		background: green;
		clear: both;
		padding-top: 140px;
		padding-bottom: 60px;
		width: 630px;
		
		h3 {
			color: $color-pre-grey;
			padding-top: 10px;
		}
	}
	
	.export-prototype-features {
		height: 300px;
		margin-bottom: 140px;
		
		.column-3 {
			p:nth-child(2) {
				opacity: 0.6;
				padding-top: 6px;
			}
			
			div {
				width: 300px;
				height: 200px;
				margin-top: 20px;
//				background: black;
			}
		}
		
		.export-prototype-feature-1 {
			background-image: url('img/export prototype feature 1.png');

			@include hidpi {
		  		background-image: url('img/export prototype feature 1@2x.png');
			}
		}
		
		.export-prototype-feature-2 {
			background-image: url('img/export prototype feature 2.png');

			@include hidpi {
		  		background-image: url('img/export prototype feature 2@2x.png');
			}
		}
		
		.export-prototype-feature-3 {
			background-image: url('img/export prototype feature 3.png');

			@include hidpi {
		  		background-image: url('img/export prototype feature 3@2x.png');
			}
		}
		
	}
	
	.export-prototype-reimport-left {
		float: left;
		width: 300px;
		padding-top: 40px;
		
		.export-prototype-new {
			color: $color-blue-dream;
		}
		
		.export-prototype-reimport-title {
			padding-top: 16px;
		}
		
		.export-prototype-reimport-text {
			padding-top: 6px;
			opacity: 0.4;
		}
		
		.export-prototype-reimport-block {
			padding-top: 48px;
			
			.export-prototype-reimport-small-description {
				font-size: 14px;
				padding-top: 2px;
				padding-bottom: 16px;
				color: $color-grey;
			}
		}
	}
	
	.export-prototype-reimport-right {
		float: right;
		width: 630px;
		height: 400px;
		
		background-image: url('img/reimport.png');
		background-repeat: no-repeat;

		@include hidpi {
	  		background-image: url('img/reimport@2x.png');
	  		background-size: 630px 400px;
		}
	}
	
	.export-prototype-reimport-clear {
		clear: both;
	}
	
}


.pro-section {
//	background: $color-pre-white;
	padding-bottom: 100px;
	background: #EBEBEB;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.10);
	
	.pro-left {
		float: left;
		width: 630px;
		
		h1 {
			padding-top: 100px;
		}
		
		h3 {
			padding-top: 7px;
			color: $color-pre-grey;
//			margin-bottom: 64px;
		}
		
		.pro-features-item {
			opacity: 0.4;
		}
		
		.pro-features-free {
			float: left;
			width: 240px;
			padding-top: 64px;
			
			div {
				margin-left: 0;
				margin-top: 30px;
				
				background: rgba(0,0,0,0.02);
				border: 1px solid rgba(0,0,0,0.20);
				border-radius: 5px;
			}
		}
		
		.pro-features-pro {
			float: left;
			width: 240px;
			padding-top: 64px;
			
			div {
				margin-left: 0;
				margin-top: 30px;
				
				background: rgba(0,0,0,0.02);
				border: 1px solid rgba(0,0,0,0.20);
				border-radius: 5px;
			}
		}
	}
	
	.pro-right {
		float: right;
		width: 300px;
	}
	
	.pro-clear {
		clear: both;
	}
}





footer {
	background-color: $color-pre-white;
	
	@include MQ(L) {
		height: 340px;
	}
	
	.mobile-container {
		margin: auto;
		width: 90%;
		
		@include MQ(L) {
			width: 100%;
		}
	}
	
	h4 {
		text-align: center;
		margin: auto;
		color: $color-dark;
		padding-top: 60px;
		max-width: 460px;
		
		@include MQ(L) {
			padding-top: 100px;
			width: 460px;
			max-width: 100%;
		}
	}
	
	//h4:first-child {
//		color: $color-grey;
//		padding-top: 40px;
//
//	}
	
	p {
		text-align: center;
		margin: auto;
		font-size: 16px;
		color: $color-grey;
		letter-spacing: 1px;
		line-height: 19px;
		
		@include MQ(L) {
			padding-top: 3px;
			width: 460px;
		}
		
	}
	
	p:first-child {
		color: $color-black;
		font-weight: 300;
		line-height: 1.44;
		width: 480px;
		padding-top: 40px;
		
	}
	
	
	#share-buttons {
		width: 200px;
		margin: auto;
		padding-top: 16px;
		
		#twitter-button {
			float: left;
			
		}
		
		#facebook-button {
			float: left;
			padding-left: 8px;
			
		}
		
		#paypal-button {
			float: left;
			padding-left: 8px;
		}
		
	}
	
	
	#social-links {
		margin: auto;
		width: 220px;
		padding-top: 20px;
		padding-bottom: 20px;
		
		@include MQ(L) {
			padding-top: 30px;
			padding-bottom: 0;
		}
		
		a {
			font-size: 14px;
			padding-left: 22px;
		}
		
		a:first-child {
			padding-left: 10px;
		}
	}
}



#tutorial-video-container {
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
	display: none;
    background-color: rgba(0,0,0,0.5);
}

#tutorial-video {
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 6%;
	
	//@include MQ(M) {
//		width: 580px;
//		height: 363px;
//		max-width: 580px;
//		margin-left: calc((100% - 580px) / 2);
//		margin-top: -20px;
//	}
}

#tutorial-video iframe {
	top:0;
	left:0;
	width:100%;
	height:100%;
}