@import '../partials/reset';
@import '../partials/mixins';
@import '../partials/layout';
@import '../partials/variables';


html {
	font-size: 62.5%;
}

body {
	margin:0;
	padding:0;
}



header {
    width:100%;
	background: $color-dark;
	position:fixed;
	height:116px;
	box-shadow: inset 0px -1px 0px 0px $color-black;
	
	@include MQ(M) {
		height:82px;
	}
	
	
	
	
	#logo {
		width: 260px;
		height: 82px;
		background-image: url('img/logo.png');
		background-repeat: no-repeat;
		margin: auto;
		
		@include MQ(M) {
			float: left;
			margin-left: 0;
		}
		
		@include hidpi {
	  		background-image: url('img/logo@2x.png');
	  		background-size: 260px 82px;
		  }
	  		
	  }
		
	#header-links {
		width: 260px;
		margin: auto;
		
		@include MQ(M) {
			width: 100%;
		}
	}

	#header-links a {
		color: $color-grey;
		letter-spacing: 1px;
		line-height: 1.2;
		font-size: 1.6rem;
		margin-left: 20px;
		
		@include MQ(M) {
			float: right;
			margin-right: 50px;
			margin-top: 36px;
			margin-left: 0;
		}
	}
	
	#header-links a:first-child {	
			margin-right: 0;
			margin-left: 0;
	}

}


.container {
	margin: auto;
	width: 90%;
	
	@include MQ(L) {
		width: 960px;
	}
}




.button {
	width: 150px;
	height: 34px;
	border-radius: 17px;
	background-color: $color-semi-dark;
	transition: all 0.3s;
	
	@include MQ(L) {
		width: 174px;
		height: 44px;
		border-radius: 22px;
	}

	a {
		display: inline-block;
		width: 150px;
		padding-top: 13px;
		margin: auto;
		
		@include MQ(L) {
			width: 174px;
			padding-top: 18px;
		}
	}
}

.button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background-color: $color-dark;
}








#welcome-section {
	background-color: $color-dark;
	
	@include MQ(L) {
		height: 800px;
	}
	
	.mobile-container {
		width: 90%;
		margin: auto;
		
		@include MQ(L) {
			width: 100%;
		}
	}
	
	
	h1 {
		margin: auto;
		text-align: center;
		padding-top: 140px;
		max-width: 280px;
		
		@include MQ(L) {
			padding-top: 160px;
			max-width: 100%;
		}
	}
	
	p {
		color: $color-semi-grey;
		margin: auto;
		width: 100%;
		text-align: center;
		padding-top: 16px;
		max-width: 300px;
		
		@include MQ(L) {
			width: 480px;
			max-width: 100%;
		}
	}
	
	#welcome-buttons {
		margin: auto;
		padding-top: 36px;
		width: 280px;
		
		@include MQ(L) {
			padding-top: 60px;
			width: 340px;
		}
		
		.button {
			float: left;
		}

		#welcome-download-button {
			background-color: $color-tint;
			width: 120px;
			margin-left: 0;
			@include MQ(L) { width: 146px;}
	
			a {
				width: 120px;
				@include MQ(L) { width: 146px; }
			}
		}
		
		#welcome-download-button:hover {
			background-color: $color-tint-hover;
		}
		
		#welcome-read-button {
			margin-left: 10px;
			@include MQ(L) { margin-left: 20px; }
		}
		#welcome-read-button:hover {
			background-color: $color-pre-grey;
		}
	}
	
	#tutorial-video {
		margin: auto;
		width: 240px;
		
		@include MQ(L) {
			width: 480px;
		}
	}
	
	iframe {
		width: 240px;
		height: 150px;
		padding-top: 20px;
		padding-bottom: 20px;

		@include MQ(L) {
			width: 480px;
			height: 300px;
			padding-top: 60px;
		}
	}
	
}







#states-section {
	@include MQ(L) {
		height: 740px;
	}
	
	
	.states-column {
		
		@include MQ(L) {
			height: 280px;
			padding: 0;
			margin: 0;
			float: left;
		}
	}
	
	#states-column-one {
		
		@include MQ(L) {
			width: 490px;
		}
		
		h2 {
			padding-top: 40px;
			
			@include MQ(L) {
				padding-top: 100px;
			}
		}
		
		p {
			padding-top: 8px;
			
			@include MQ(L) {
				padding-top: 12px;
			}
		}
	}
	
	#states-column-two {
		@include MQ(L) {
			width: 960-490-174px;
		}
	}
	
	#states-column-three {
		
		@include MQ(L) {
			width: 174px;
		}
		
		.button {
			margin-top: 40px;
			float: left;
			
			@include MQ(L) {
				margin-top: 107px;
			}
		}
		
		h5 {
			display: inline-block;
			text-align: center;
			float: left;
			width: 120px;
			padding-top: 42px;
			padding-left: 10px;
			
			
			@include MQ(L) {
				width: 150px;
				padding-top: 14px;		
				padding-left: 12px;
			}
		}
	}
	
	
	#states-image {
		clear:both;
		background-image: url('img/statesbg.png');
		background-repeat: no-repeat;
		background-position: 25% top;
		width: 100%;
		height: 230px;
		
		@include hidpi {
			background-image: url('img/statesbg@2x.png');
			background-size: 200% 230px;
		}
		
		@include MQ(L) {
			background-position: left bottom;
			height: 460px;
			width: calc(100% - 50% + 480px);
			margin-left: calc(50% - 480px);
		}
		
	}
}




#keynote-section {
	
	@include MQ(L) {
		height: 680px;
	}
	
	.container {
		@include MQ(L) {
			box-shadow: inset 0px -1px 0px 0px $color-semi-grey;
		}
	}
	
	
	h2 {
		text-align: center;
		margin: auto;
		padding-top: 30px;
		
		@include MQ(L) {
			padding-top: 70px;
		}
	}
	
	p {
		padding-top: 8px;
		text-align: center;
		margin: auto;
		
		@include MQ(L) {
			width: 540px;
			padding-top: 12px;
		}
	}
		
	#keynote-image {
		background-image: url('img/smallkeynotebg.png');
		background-repeat: no-repeat;
		background-position: center;
		height: 134px;
		width: 100%;
		padding-top: 20px;
		
		@include hidpi {
			background-image: url('img/smallkeynotebg@2x.png');
			background-size: 100% 134px;
		}
		
		@include MQ(L) {
			background-image: url('img/keynotebg.png');
			width: 960px;
			height: 460px;
			padding-top: 0;
			
			@include hidpi {
				background-image: url('img/smallkeynotebg@2x.png');
				background-size: 960px 460px;
			}
		}
	}
}



#scale-section {
	@include MQ(L) {
		height: 300px;
	}
	
	.states-column {
		@include MQ(L) {
			height: 300px;
			float: left;
		}
	}
	
	#states-column-one {
		
		@include MQ(L) {
			width: 540px;
		}
		
		h2 {
			padding-top: 40px;
			
			@include MQ(L) {
				padding-top: 94px;
			}
		}
		
		p {
			padding-top: 8px;
			
			@include MQ(L) {
				padding-top: 12px;
			}
		}
	}
	
	#states-column-two {
		@include MQ(L) {
			width: 246px;
		}

	}
	
	#states-column-three {
		@include MQ(L) {
			width: 174px;
		}
		
		.button {
			margin-top: 20px;
			float: left;
			
			@include MQ(L) {
				margin-top: 100px;
			}
		}
		
		h5 {
			display: inline-block;
			text-align: center;
			width: 120px;
			padding-left: 10px;
			padding-top: 23px;
			margin-bottom: 43px;
			
			@include MQ(L) {
				padding-top: 14px;
				width: 150px;
				padding-left: 12px;
				margin-bottom: 0px;
			}
		}
	}
}



#goodbuy-section {
	background-color: $color-dark;
	
	@include MQ(L) {
		height: 400px;
	}
	
	.mobile-container {
		margin: auto;
		width: 90%;
		
		@include MQ(L) {
			width: 100%;
		}
	}
	
	h1 {
		text-align: center;
		margin: auto;
		padding-top: 50px;
		
		@include MQ(L) {
			padding-top: 80px;
		}
	}
	
	p {
		padding-top: 8px;
		text-align: center;
		margin: auto;
		color: $color-semi-grey;
		
		@include MQ(L) {
			width: 540px;
		}
	}
	


	#goodbuy-buttons {
		margin: auto;
		padding-top: 26px;
		padding-bottom: 70px;
		width: 280px;
	
		@include MQ(L) {
			padding-top: 60px;
			width: 340px;
			padding-bottom: 0;
		}
	
		.button {
			float: left;
			width: 120px;
			@include MQ(L) { width: 146px; }
			
			a {
				width: 120px;
				@include MQ(L) { width: 146px; }
			}
		}

		#goodbuy-download-button {
			background-color: $color-tint;
			margin-left: 0;
			
		}
	
		#goodbuy-download-button:hover {
			background-color: $color-tint-hover;
		}
	
		#goodbuy-examples-button {
			margin-left: 10px;
			@include MQ(L) { margin-left: 20px; }
		}
		#goodbuy-examples-button:hover {
			background-color: $color-pre-grey;
		}
	}
}



#read-section {
	background-color: $color-pre-white;
	box-shadow: inset 0px -1px 0px 0px $color-semi-grey;
	
	@include MQ(L) {
		height: 300px;
		box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
	}
	
	.states-column {
		@include MQ(L) {
			height: 300px;
			float: left;
			box-shadow: inset 0px -1px 0px 0px $color-semi-grey;
		}
	}
	
	#read-column-one {
		
		@include MQ(L) {
			width: 540px;
		}
		
		h2 {
			padding-top: 40px;
			
			@include MQ(L) {
				padding-top: 94px;
			}
		}
		
		p {
			padding-top: 8px;
			
			@include MQ(L) {
				padding-top: 12px;
			}
		}
	}
	
	#read-column-two {
		@include MQ(L) {
			width: 246px;
		}

	}
	
	#read-column-three {
		@include MQ(L) {
			width: 174px;
		}
		
		.button {
			margin-top: 20px;
			float: left;
			
			@include MQ(L) {
				margin-top: 100px;
			}
		}
		
		
		h5 {
			display: inline-block;
			text-align: center;
			width: 120px;
			padding-left: 10px;
			padding-top: 23px;
			margin-bottom: 43px;
			
			@include MQ(L) {
				padding-top: 14px;
				padding-left: 27px;
				margin-bottom: 0px;
			}
		}
	}
}


footer {
	background-color: $color-pre-white;
	
	@include MQ(L) {
		height: 340px;
	}
	
	.mobile-container {
		margin: auto;
		width: 90%;
		
		@include MQ(L) {
			width: 100%;
		}
	}
	
	h4 {
		text-align: center;
		margin: auto;
		color: $color-dark;
		padding-top: 30px;
		max-width: 460px;
		
		@include MQ(L) {
			padding-top: 40px;
			width: 460px;
			max-width: 100%;
		}
	}
	
	h4:first-child {
		color: $color-grey;
		@include MQ(L) {
			padding-top: 60px;
		}
	}
	
	#name {
		font-size: 1.6rem;	
	}
	
	p {
		text-align: center;
		margin: auto;
		font-size: 16px;
		color: $color-grey;
		letter-spacing: 1px;
		line-height: 19px;
		
		@include MQ(L) {
			padding-top: 3px;
			width: 460px;
		}
		
	}
	
	#paypal-button {
		padding-top: 12px;
		margin: auto;
		width: 180px;
		height: 40px;
		
		#test-paypal {
			
			@include hidpi {
				background-image: url('img/paypal-button@2x.png');
				background-size: 180px 40px;
			}
		}
	}
	
	#social-links {
		margin: auto;
		width: 220px;
		padding-top: 20px;
		padding-bottom: 20px;
		
		@include MQ(L) {
			padding-top: 30px;
			padding-bottom: 0;
		}
		
		a {
			font-size: 14px;
			padding-left: 22px;
		}
		
		a:first-child {
			padding-left: 10px;
		}
	}
}