@import '../partials/layout';

// colors

$color-black: #000;
$color-dark: #222;
$color-semi-dark: #444;
$color-pre-grey: #666;
$color-grey: #999;
$color-semi-grey: #CCC;
$color-pre-white: #EEE;
$color-white: #FFF;

$color-tint: #72C3F8;
$color-tint-hover: #4796CB;
$color-complementary: #F5A623;
$color-complementary-hover: #DF900E;

$color-orange: #F5A623;
$color-dark-orange: #66430B;
$color-orange-hover: #FCC66C;


$color-blue-dream: #32C3FF;

$isv: 0.28;
$ixv: -154px;
$iyv: -136px;


// fonts
$primary-font: 'Roboto', sans-serif;

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.h0 {
	font-family: $primary-font;
//	color: $color-white;

	line-height: 1.2;
	font-weight: 300;
	font-size: 3.6rem;

	@include MQ(M) {
		font-size: 6.4rem;
		font-weight: 100;
	}
}



h1 {
	font-family: $primary-font;
//	color: $color-black;

	line-height: 1.5;
	font-weight: 300;
	font-size: 2.8rem;

	@include MQ(M) {
		font-size: 4.8rem;
		font-weight: 100;
	}
}

h2 {
	font-family: $primary-font;
//	color: $color-black;

	line-height: 1.4;
	font-weight: 100;
	font-size: 3.6rem;

	@include MQ(M) {
		font-size: 3.6rem;
	}
}

h3 {
	font-family: $primary-font;
//	color: $color-pre-grey;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.34;
	letter-spacing: 0.2px;

	@include MQ(M) {
		font-size: 2.4rem;
	}
}

h4 {
	font-family: $primary-font;
//	color: $color-grey;

	line-height: 1.44;
	font-weight: 500;
	letter-spacing: 0.4px;
	font-size: 1.4rem;

	@include MQ(M) {

	}

	@include MQ(L) {
		font-size: 1.4rem;
	}
}


h5 {
	font-family: $primary-font;
//	color: $color-dark-orange;
	line-height: 1.3;
	font-weight: 500;
	font-size: 1.0rem;
	letter-spacing: 0.3px;
}



p {
	font-family: $primary-font;
	color: $color-black;

	line-height: 1.44;
	font-weight: 500;
	letter-spacing: 0.4px;
	font-size: 1.8rem;

	@include MQ(M) {

	}
}





a {
	font-family: $primary-font;
	text-decoration: none;

	line-height: 1.44;
	font-weight: 500;
	letter-spacing: 0.4px;
	font-size: 1.8rem;
}

a:hover {
	color: $color-complementary;
}

//
//.button a {
//	font-family: $primary-font;
//	color: $color-white;
//	line-height: 1.2;
//	font-weight: 700;
//	letter-spacing: 3px;
//	text-transform: uppercase;
//	text-align: center;
//	vertical-align: middle;
//	font-size: 1.2rem;
//}
